.main {
  :first-child {
    margin-top: 0;
  }

  * {
    word-break: break-word;
    scroll-margin-top: var(--hsdc-scroll-margin-top);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 4rem 0 1.5rem 0;
    padding: 0.5rem 0;
    font-weight: 700;
    border-bottom: 1px solid hsl(var(--hsdc-border));
  }

  p {
    margin: 1.8rem 0;
  }

  strong {
    font-weight: 700;
  }

  hr {
    margin: 4rem 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.7rem;
  }

  p {
    line-height: 2.2;
    letter-spacing: 0.04em;
  }

  ol,
  ul {
    padding-left: 1.5em;

    ol,
    ul {
      padding-left: 1em;
    }

    li {
      line-height: 2rem;
      padding-left: 0.5rem;
    }
  }

  ul {
    list-style-type: disc;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
      }
    }
  }

  ol {
    list-style-type: decimal;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
      }
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-radius: 8px;
    border-spacing: 0;
    border: 1px solid hsl(var(--hsdc-border));
    overflow: hidden;

    thead {
      background-color: hsl(var(--hsdc-muted));
    }

    tbody {
      td {
        border-top: 1px solid hsl(var(--hsdc-border));
      }

      tr:hover {
        background-color: hsl(var(--hsdc-muted) / 0.5);
      }
    }

    th,
    td {
      padding: 8px;
      font-size: 0.875rem;
      text-align: left;

      :global(&.left) {
        text-align: left;
      }
      :global(&.center) {
        text-align: center;
      }
      :global(&.right) {
        text-align: right;
      }
    }
  }

  code:not(pre code) {
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 8px;
    font-family: var(--hsdc-font-code);
    line-height: 1.5;
    border: 1px solid hsl(var(--hsdc-border));
    background-color: hsl(var(--hsdc-muted));
  }

  blockquote {
    border-left: 12px solid hsl(var(--hsdc-border));
    color: hsl(var(--hsdc-muted-foreground));

    margin: 0;
    padding: 0 16px;

    blockquote {
      margin: 0 12px;
    }
  }

  a:not(article a) {
    color: hsl(var(--hsdc-link));

    &:hover {
      text-decoration-line: underline;
    }
  }

  summary {
    cursor: pointer;
  }

  :global(.footnotes) {
    margin: 4rem 0 1.5rem 0;
    color: hsl(var(--hsdc-muted-foreground));
    p {
      margin: 0;
    }
  }

  :global(.contains-task-list) {
    list-style-type: none;
    padding-left: 0;
    input {
      margin-right: 0.5rem;
    }
  }
}
